<div class="border-bottom row">  
<div class='col-9'>
   
      <h4 style="color:rgba(100,100,100) margin-top:10px;">{{job['title']}}</h4>
      <div style="margin-top:6px;"><b>Location:{{job['location']}}</b></div>
       {%if 'salary' in job %}
      <div>
        <b>salary:{{job['salary']}}</b>
       {% endif %}
      </div>
</div>
      <div class='col-3'>
      <a href="mailto:gautamnair94@gmail.com?subject=app%20for%20{{Jobs['title']}}&body=my%20name%20%3A%3Cname%3E%0D%0Aresume%20link%3A%3Clink%3E" button type="button" class="btn btn-outline-primary" style="margin-top: 10px";>Apply</a><!-- a is anchor tag that can be used to go to other link href is used for referenfces where we want to apply the referennces to-->

      </div>
</div>     